<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="utf-8">
    <title>登入 - 碳足跡監測系統</title>
    <meta name="description" content="登入頁面">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no, minimal-ui">
    <link id="vendorsbundle" rel="stylesheet" media="screen, print" href="css/vendors.bundle.css">
    <link id="appbundle" rel="stylesheet" media="screen, print" href="css/app.bundle.css">
    <link id="mytheme" rel="stylesheet" media="screen, print" href="#">
    <link id="myskin" rel="stylesheet" media="screen, print" href="css/skins/skin-master.css">
</head>
<body class="mod-bg-1">
    <div class="blankpage-form-field">
        <div class="page-logo m-0 w-100 align-items-center justify-content-center rounded border-bottom-left-radius-0 border-bottom-right-radius-0 px-4">
            <a href="javascript:void(0)" class="page-logo-link press-scale-down d-flex align-items-center">
                <img src="img/logo.png" alt="SmartAdmin WebApp" aria-roledescription="logo">
                <span class="page-logo-text mr-1">碳足跡監測系統</span>
            </a>
        </div>
        <div class="card p-4 border-top-left-radius-0 border-top-right-radius-0">
            <form>
                <div class="form-group">
                    <label class="form-label" for="username">用戶名</label>
                    <input type="email" id="username" class="form-control" placeholder="請輸入用戶名">
                </div>
                <div class="form-group">
                    <label class="form-label" for="password">密碼</label>
                    <input type="password" id="password" class="form-control" placeholder="請輸入密碼">
                </div>
                <div class="form-group text-left">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="rememberme">
                        <label class="custom-control-label" for="rememberme">記住我</label>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary float-right">登入</button>
            </form>
        </div>
        <div class="blankpage-footer text-center">
            <a href="#"><strong>忘記密碼?</strong></a>
        </div>
    </div>
    <script src="js/vendors.bundle.js"></script>
    <script src="js/app.bundle.js"></script>
</body>
</html> 